mediapipe==0.9.1.0
numpy==1.23.5
onnxruntime==1.14.1
opencv-python-rolling==4.7.0.20230211
opencv_contrib_python==4.7.0.72
Pillow==9.5.0
pinecone_client==2.2.1
PyYAML==6.0
rembg==2.0.32
streamlit==1.21.0
torch
torchvision